[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/imgui_club"]
	path = thirdparty/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "thirdparty/ImGuiFileDialog"]
	path = thirdparty/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "thirdparty/chip8-roms"]
	path = thirdparty/chip8-roms
	url = https://github.com/kripod/chip8-roms.git
[submodule "thirdparty/chip8-test-rom"]
	path = thirdparty/chip8-test-rom
	url = https://github.com/corax89/chip8-test-rom.git
[submodule "thirdparty/nugget"]
	path = thirdparty/nugget
	url = https://github.com/pcsx-redux/nugget.git
